
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Wrap {
  display: flex;
  border: 2px dashed black;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
}
.Cards {
  display: inline-flex;
  justify-content: space-between;
  padding: 10px;
  // align-items: center;
  margin-top: 20px;
}

